p Hi #{name},

p We received your request to reset password please press this link and create new password.
p If you did not preform this action, reset your password immediately.
|
- var url = link;
a(href=url) Click here to reset your password 

//-  #{token}.