doctype html
html
  head
    script(async, src='https://unpkg.com/axios/dist/axios.min.js')
    script.
      let resetPassword = async function(){
          let data={
              newPassword: document.getElementById('newPassword').value,
              newPasswordConf: document.getElementById('newPasswordConf').value
          }
          const h={'x-access-token': "#{token}"}
          const message=axios.post('/api/user/reset-user-password', data, {headers:h}).then(function(res){res.data.message ? alert(res.data.message):alert(res.data)}).catch(function(res){
            alert(res.response.data)
          })
      }
  body
    block content
      .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Reset Your Password
            h1.display-4.m-b-2 #{message}
            form(method='POST' )
              div.form-group
                label(for='pw') Password:
                input#newPassword.form-control(type='password' name='password')
              div.form-group
                label(for='pw2') Confirm Password:
                input#newPasswordConf.form-control(type='password' name='confirmPassword')
              button.btn.btn-primary(type='button' onclick='resetPassword()') Submit